<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>


		<!-- SQL Dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<!-- Database Connection Settings -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/java</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.connection.pool_size">10</property>
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>

		<property name="hibernate.cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
		<!-- Specifying Session Context -->
		<property name="current_session_context_class">thread</property>

		<mapping class="metier.dao.beans.User"/>
		<mapping class="metier.dao.beans.Clinique"/>
		<mapping class="metier.dao.beans.Commentaire"/>
		<mapping class="metier.dao.beans.Docteur"/>
		<mapping class="metier.dao.beans.Pharmacie"/>
		<mapping class="metier.dao.beans.Role"/>
		<mapping class="metier.dao.beans.Rating"/>
		<mapping class="metier.dao.beans.Hopital"/>
		<mapping class="metier.dao.beans.Langue"/>
		<mapping class="metier.dao.beans.Education"/>
		<mapping class="metier.dao.beans.Recomponse"/>



	</session-factory>
</hibernate-configuration>
